.buildpath export-ignore
.gitignore export-ignore
.project export-ignore
.gitattributes export-ignore
.project export-ignore
.idea export-ignore
.settings export-ignore
jenkins-ci export-ignore
jenkins-ci/ export-ignore
jenkins-dep export-ignore
jenkins-dep/ export-ignore
tests export-ignore
tests/ export-ignore
vendor export-ignore
vendor/ export-ignore
dist export-ignore
dist/ export-ignore
doc export-ignore
readme.md export-ignore
phpcs.xml export-ignore
phpmd.xml export-ignore
phpunit.xml export-ignore
build.xml export-ignore
project.xml export-ignore
project.properties export-ignore